name: vinsight
services:
  vinsight:
    image: vioneta/vinsight:latest
    deploy:
      resources:
        reservations:
          memory: 256M
    network_mode: bridge
    ports:
      - target: 8088
        published: "3003"
        protocol: tcp
    restart: always
    depends_on:
      - redis
      - pgdb
    volumes:
      - /DATA/AppData/$AppID/config:/var/lib/superset
    networks:
      - vinsight
  pgdb:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: vinsight
      POSTGRES_PASSWORD: vinsight
      POSTGRES_USER: vinsight
    volumes:
      - /DATA/AppData/$AppID/metadata/database:/var/lib/postgresql/data
    networks:
      - vinsight
  redis:
    image: redis
    restart: always
    volumes:
      - /DATA/AppData/$AppID/cache/database:/data
    networks:
      - vinsight
networks:
  vinsight:
    name: vinsight
x-vionetaos:
  architectures:
    - amd64
    - arm64
  main: vinsight
  author: Vioneta Team
  category: Network
  description:
    en_us: |
      VInsight is a visualization and analytics software.Visualizations: Fast and flexible client side graphs with a multitude of options. Panel plugins offer many different ways to visualize metrics and logs. Dynamic Dashboards: Create dynamic & reusable dashboards with template variables that appear as dropdowns at the top of the dashboard. Explore Metrics: Explore your data through ad-hoc queries and dynamic drilldown. Split view and compare different time ranges, queries and data sources side by side. Explore Logs: Experience the magic of switching from metrics to logs with preserved label filters. Quickly search through all your logs or streaming them live. Alerting: Visually define alert rules for your most important metrics. Grafana will continuously evaluate and send notifications to systems like Slack, PagerDuty, VictorOps, OpsGenie. Mixed Data Sources: Mix different data sources in the same graph! You can specify a data source on a per-query basis. This works for even custom datasources.
  developer: vioneta
  icon: https://raw.githubusercontent.com/Vioneta/Vioneta-Appstore/main/Apps/VInsight/icon.png
  screenshot_link:
    - https://raw.githubusercontent.com/Vioneta/Vioneta-Appstore/main/Apps/VInsight/screenshot-1.png
    - https://raw.githubusercontent.com/Vioneta/Vioneta-Appstore/main/Apps/VInsight/screenshot-2.png
    - https://raw.githubusercontent.com/Vioneta/Vioneta-Appstore/main/Apps/VInsight/screenshot-3.png
    - https://raw.githubusercontent.com/Vioneta/Vioneta-Appstore/main/Apps/VInsight/screenshot-4.png
  tagline:
    en_us: |
      VInsight is a complete observability stack that allows you to monitor and analyze metrics, logs and traces. It allows you to query, visualize, alert on and understand your data no matter where it is stored.
  thumbnail: https://raw.githubusercontent.com/Vioneta/Vioneta-Appstore/main/Apps/VInsight/thumbnail.png
  tips:
    before_install:
      en_us: |
        | username | password |
        | -------- | -------- |
        | `admin`    | `admin`    |
  title:
    en_us: VInsight
  index: /
  port_map: "3003"
